/*সিলেট বিভাগ ভিত্তিক ক্যারোসোল বিভিন্ন স্ক্রিনে ঠিক করা */
@media (max-width: 362px) {
  h2.discription {
    font-size: 0.8rem !important;
  }
  h4.para {
    font-size: 0.6rem !important;
  }
} 
@media (min-width: 363px) and (max-width: 404px) {
  h2.discription {
    font-size: 1rem !important;
  }
  h4.para {
    font-size: small !important;
  }
}
@media (min-width: 405px) and (max-width: 575px) {
  h2.discription {
    font-size: large !important;
  }
  h4.para {
    font-size: 0.8rem !important;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  h2.discription {
    font-size: x-large !important;
  }
  h4.para {
    font-size: 1rem !important;
  }
}

/* সিলেটের জেলা ভিত্তিক কার্ড বিভিন্ন স্ক্রিনে ঠিক করা */
@media (max-width: 767px) {
  div p.d-none {
    display: none !important; /*হবিগঞ্জ ২য় প্যারাগ্রাফ*/
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  div.res2 {
    height: 927.38px !important; /*হবিগঞ্জ কার্ড*/
  }
  div.res3{
    height: 927.38px !important; /*সুনামগঞ্জ কার্ড*/
  }
  div.সিলেট-কার্ড {
    height: 755.53px !important;
  }
  div.শ্রীমঙ্গল-কার্ড{
    height: 755.53px !important;
  }
  div.view img {
    height: 196.77px !important;
  }
  div p.syl-p1 {
    margin-bottom: 0; /*হবিগঞ্জ ১ম প্যারাগ্রাফ*/
  }
  div p.mb-4 {
    margin-bottom: 0 !important; /*হবিগঞ্জ ২য় প্যারাগ্রাফ*/
  }
  div a.hobi-btn {
    margin-top: 31px; /*হবিগঞ্জ বাটন*/
  }
  div a.সিলেট-btn {
    margin-top: 28px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  div.সিলেট-কার্ড {
    height: 566.53px !important;
  }
  div.শ্রীমঙ্গল-কার্ড{
    height: 566.53px !important;
  }
  div.res2 {
    height: 612.38px !important; /*হবিগঞ্জ কার্ড*/
  }
  div.res3{
    height: 612.38px !important; /*সুনামগঞ্জ কার্ড*/
  }
  div p.d-none {
    display: none !important; /*হবিগঞ্জ ২য় প্যারাগ্রাফ*/
  }
  div p.syl-p1 {
    margin-bottom: 0; /*হবিগঞ্জ ১ম প্যারাগ্রাফ*/
  }
  div p.syl-p2 {
    margin-bottom: 0; /*হবিগঞ্জ ৩য় প্যারাগ্রাফ*/
  }
  div a.hobi-btn {
    margin-top: 30px; /*হবিগঞ্জ বাটন*/
  }
}

@media (min-width: 1200px) {
  div.res3 {
    height: 508.53px !important; /*সুনামগঞ্জ কার্ড*/
  }
  div p.d-none {
    display: none !important; /*হবিগঞ্জ ২য় প্যারাগ্রাফ*/
  }
  div p.syl-p1 {
    margin-bottom: 0; /*হবিগঞ্জ ১ম প্যারাগ্রাফ*/
  }
  div p.syl-p2 {
    margin-bottom: 0; /*হবিগঞ্জ ৩য় প্যারাগ্রাফ*/
  }
  div a.sun-btn {
    margin-top: -12px !important; /*সুনামগঞ্জ বাটন*/
  }
}

/*সুনামগঞ্জ বাটন ঠিক করা */
div a.sun-btn {
  color: white !important;
  background-color: #2e7d32 !important;
  border: 2px solid #212121 !important;
}
